.container {
  text-align: center; /* Centra el contenido horizontalmente */
  padding-top: 40px; /* Agrega espacio arriba del contenido */
  min-height: 80vh;
}

.btn-filtro {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}

.btn-filtro:hover {
  background-color: #caa565 !important;
  color: #fff;
  border-color: #caa565 !important;
}

.btn-filtro.active {
  background-color: #caa565 !important;
  color: #fff;
  border-color: #caa565 !important;
}

.btn-filtro + .btn-filtro {
  margin-left: 10px;
}

.btn + .btn {
  margin-left: 10px;
}

.headers {
  background-color: #caa565;
  color: white;
}

.table tbody tr {
  border-bottom: 1px solid #ddd; /* Puedes ajustar el color y el grosor del borde según tus preferencias */
}

/* Agrega estilos para el nuevo filtro de correo */


.input-group-append {
  display: flex;
}

button.btn-outline-secondary {
  border-radius: 0 0.25rem 0.25rem 0;
}

.form-control{
  display: flex;
  margin-left: 37%;
  margin-right: 37%;
  margin-bottom: 50px;
}
