<!-- header -->
<header id="header" class="vh-100 carousel slide" data-bs-ride="carousel" style="padding-top: 104px">
  <div class="container h-75 d-flex align-items-center carousel-inner">
    <div class="text-center carousel-item active" >
      <h2 class="">Nueva Coleccion 2023</h2>
      <a href="#" class="btn mt-3 text-uppercase">Ver aqui</a>
    </div>
    <div class="text-center carousel-item">
      <h2 class="">Aprende de los cuidados del lino</h2>
      <a href="#" class="btn mt-3 text-uppercase">Ver aqui</a>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#header" data-bs-slide="prev">
    <i class="fas fa-chevron-left" style="color: black;font-size: 50px; "></i>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#header" data-bs-slide="next">
    <i class="fas fa-chevron-right" style="color: black;font-size: 50px; "></i>
  </button>
</header>
<!-- end of header -->