/* Establece estilos para el fondo del carousel */
.carousel-item {
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white; /* Cambia el color del texto */
  text-align: center; /* Alinea el contenido al centro del elemento */
  height: 100%;
  width: auto;
  padding-top: 200px;
  padding-bottom: 260px;
  border-radius: 15px;
  font-family: Lato, sans-serif;
}

.carrusel{
    background-color: #f2f0ff;
}

/* Establece estilos para el título en cada elemento del carousel */
.carousel-item h2 {
  font-size: 60px;
  font-family: var(--lg-font);
}

/* Establece estilos para el botón en cada elemento del carousel */
.carousel-item .btn {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}

/* Establece estilos para el botón al pasar el ratón por encima */
.carousel-item .btn:hover {
  background-color: #caa565;
  color: #fff;
  border-color: #caa565;
}


/* Estilos para los botones de edición, eliminación y añadir */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  width: auto;
  border: none;
}

.boton:hover{
  background-color: rgb(226, 226, 226);
}


.boton i {
  color: black;
}
