<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camila Charry Designer</title>
</head>
<body>
    <header style="background-color: #333; color: #fff; padding: 20px; text-align: center;">
        <app-header></app-header>
    </header>
    <section style="max-width: 1200px; margin: 0 auto; padding: 20px;">
        <h2>Las últimas tendencias de moda</h2>
        <p>
            ¡Bienvenidos a Fashionista! Aquí encontrarás las últimas tendencias en moda para hombres y mujeres. Nuestra tienda ofrece una amplia selección de ropa, calzado y accesorios de las marcas más reconocidas a nivel mundial.
        </p>
        <p>
            Nuestro equipo de expertos en moda está siempre en busca de las últimas novedades para brindarte un catálogo actualizado y lleno de estilo. Ya sea que estés buscando el atuendo perfecto para una ocasión especial o simplemente quieras renovar tu guardarropa, ¡tenemos todo lo que necesitas!
        </p>
        <h3>Lo que ofrecemos</h3>
        <ul>
            <li>Ropa de alta calidad y diseños exclusivos.</li>
            <li>Calzado moderno y cómodo para todas las ocasiones.</li>
            <li>Accesorios que complementarán tu estilo personal.</li>
            <li>Una experiencia de compra en línea fácil y segura.</li>
        </ul>
        <p>
            En Fashionista, nos apasiona la moda y queremos que tú también disfrutes de vestirte con estilo y confianza. Nuestra misión es proporcionarte productos de calidad que te hagan sentir seguro/a y cómodo/a en cualquier situación.
        </p>
        <p>
            Explora nuestro catálogo, descubre las últimas colecciones y mantente al tanto de las tendencias más actuales. ¡Esperamos que encuentres todo lo que buscas y más en Fashionista!
        </p>
    </section>
    
    
    <footer style="background-color: #f5f5f5; padding: 20px; text-align: center;">
       <app-footer></app-footer>
    </footer>
</body>
</html>