<app-header></app-header>
<section id="collection" class="py-5">
  <div class="container">
    <!-- special products -->
    <div class="container">
      <div class="title text-center py-5">
        <h2>Productos Destacados</h2>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-3 mb-4" *ngFor="let producto of productosDestacados; let i = index">
          <div class="product-card" (click)="detallePrenda(producto)" style="cursor: pointer;">
            <div class="product-image">
              <img src="{{producto.imagen}}" alt="Producto">
            </div>
            <div class="product-details">
              <p>{{producto.nombreProducto}}</p>
              <p>Codigo - {{producto.id}}</p>
              <p>${{producto.precio}}</p>
              <button (click)="addToCart(producto); $event.stopPropagation()">Agregar al Carrito</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- end of special products -->

    <!-- collection -->
    <div class="row g-0">
      <div class="title text-center py-5" style="padding-top: 50px;">
        <h2>¡Ultimos Productos!</h2>
      </div>
      <!-- <div class="d-flex flex-wrap justify-content-center mt-5 filter-button-group">
        <button type="button" class="btn m-2 text-dark active-filter-btn" data-filter="*">
          Todo
        </button>
        <button type="button" class="btn m-2 text-dark" data-filter=".best">
          Nuevo
        </button>
        <button type="button" class="btn m-2 text-dark" data-filter=".feat">
          Lo mas Vendido
        </button>
        <button type="button" class="btn m-2 text-dark" data-filter=".new">
          Ofertas Especiales
        </button>
      </div> -->

      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-3 mb-4" *ngFor="let producto of productosEspeciales; let i = index">
            <div class="product-card" (click)="detallePrenda(producto)" style="cursor: pointer;">
              <div class="product-image">
                <img src="{{producto.imagen}}" alt="Producto">
              </div>
              <div class="product-details">
                <p>{{producto.nombreProducto}}</p>
                <p>Codigo - {{producto.id}}</p>
                <p>${{producto.precio}}</p>
                <button (click)="addToCart(producto); $event.stopPropagation()">Agregar al Carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of collection -->

    <!-- Informacion -->
    <div>
      <div class="title text-center" style="padding-top: 50px;">
        <h2>¡Que podemos ofrecerte!</h2>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-3" style="text-align: center">
          <i class="fas fa-truck-loading fa-lg"></i>
          <p>Envios Nacionales</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
        </div>
        <div class="col-md-3" style="text-align: center">
          <i class="fas fa-medal fa-lg"></i>
          <p>Calidad de productos</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
        </div>
      </div>
    </div>
    <!-- End of Informacion -->
  </div>
</section>