<header id="header" class="vh-100 carousel slide" data-bs-ride="carousel" style="padding-top: 104px">
  <app-header></app-header>
</header>
<section id="collection" class="py-5">
  <div class="container">
    <div class="title text-center">
      <h2 class="position-relative d-inline-block">New Collection</h2>
    </div>
    <!-- special products -->
    <section id="special" class="py-5">
      <div class="container">
        <div class="title text-center py-5">
          <h2>Productos Destacados</h2>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="tarjeta col-3" *ngFor="let producto of productosDestacados; let i = index">
            <img src="{{producto.imagen}}" alt="Producto">
            <p class="tituloProducto" style="color: #caa565;">{{producto.nombreProducto}}</p>
            <p>Codigo - {{producto.codigo}}</p>
            <p>${{producto.precio}}</p>
            <button class="btn">Agregar al Carrito</button>
          </div>
        </div>
      </div>
    </section>
    <!-- end of special products -->

    <!-- collection -->
    <div class="row g-0">
      <div class="title text-center" style="padding-top: 50px;">
        <h2>¡Ultimos Productos!</h2>
      </div>
      <div class="d-flex flex-wrap justify-content-center mt-5 filter-button-group">
        <button type="button" class="btn m-2 text-dark active-filter-btn" data-filter="*">
          Todo
        </button>
        <button type="button" class="btn m-2 text-dark" data-filter=".best">
          Nuevo
        </button>
        <button type="button" class="btn m-2 text-dark" data-filter=".feat">
          Lo mas Vendido
        </button>
        <button type="button" class="btn m-2 text-dark" data-filter=".new">
          Ofertas Especiales
        </button>
      </div>

      <div class="collection-list mt-4 row gx-0 gy-3">
        <div *ngFor="let producto of productosEspeciales; let i = index" class="col-md-3 p-2 best"
          style="box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.10);">
          <div class="collection-img position-relative">
            <img src="{{producto.imagen}}" class="w-100" />
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-primary"><i class="fas fa-star"></i></span>
              <span class="text-primary"><i class="fas fa-star"></i></span>
              <span class="text-primary"><i class="fas fa-star"></i></span>
              <span class="text-primary"><i class="fas fa-star"></i></span>
              <span class="text-primary"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">{{producto.nombreProducto}}</p>
            <span class="fw-bold">$ {{producto.precio}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- end of collection -->
    <!-- Informacion -->
    <div>
      <div class="title text-center" style="padding-top: 50px;">
        <h2>¡Que podemos ofrecerte!</h2>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-3" style="text-align: center">
          <i class="fas fa-medal"></i>
          <p>Envios Nacionales</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
        </div>
        <div class="col-md-3" style="text-align: center">
          <i class="fas fa-medal"></i>
          <p>Calidad de productos</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
        </div>
      </div>
    </div>
    <!-- End of Informacion -->
  </div>
</section>