

/* collection */
.active-filter-btn{
    background-color: #caa565!important;
    color: #fff!important;
    border-color: #caa565!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
    background-color: #caa565!important;
    border-color: #caa565!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* ================================================================= */

.col-md-3 {
    max-width: 25%;
}

.mb-4 {
    margin-bottom: 2%; /* Espacio inferior entre las tarjetas */
}

.product-card {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: background-color 0.3s;
    box-sizing: border-box;
    max-width: 300px;
    text-align: center;
    margin: 0 10px 20px;
}

.product-card:hover {
    background-color: #caa565;
}

.product-image img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
    vertical-align: top;
}

.product-details {
    padding: 20px;
    color: black;
    transition: color 0.3s;
}

.product-card:hover .product-details {
    color: white;
}

.product-details h2 {
    margin-top: 0;
    font-size: 1.2em;
}

.product-details p {
    margin: 5px 0;
    font-size: 0.9em;
}

.product-details button {
    background-color: #caa565;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #caa565;
    font-size: 0.9em;
}

.product-card:hover button {
    background-color: #fff;
    color: rgb(85, 85, 85);
    border-color: #fff;
}

@media screen and (max-width: 767px) {
    .product-card {
        max-width: none;
    }

    .product-image img {
        max-height: 150px;
    }

    .product-details button {
        padding: 3px 8px;
    }
}

@media screen and (max-width: 767px) {
    .product-details {
        font-size: 3vw;
    }

    .product-details p {
        margin: 3% 0;
    }

    .product-details button {
        padding: 3% 6%;
        font-size: 3vw;
    }
}

@media screen and (max-width: 500px) {
    .col-md-3 {
        max-width: 100%; /* Cambia el ancho máximo para que ocupen el 100% del ancho */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .product-card {
        max-width: 400px;
    }

    .product-image img {
        max-height: 250px;
    }
}




