<app-header></app-header>
<section id="collection" class="py-5">
  <div class="container">

    <div class="container">
      <div class="title text-center py-5">
        <h2>Nuestros Productos</h2>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-3 mb-4" *ngFor="let producto of productosDestacados; let i = index">
          <div class="product-card" (click)="detallePrenda(producto)" style="cursor: pointer;">
            <div class="product-image">
              <img src="{{getImageUrl(producto)}}" alt="Producto">
            </div>
            <div class="product-details">
              <p>{{producto.nombre}}</p>
              <p>Codigo - {{producto.id}}</p>
              <p>${{producto.precio}}</p>
              <button (click)="addToCart(producto); $event.stopPropagation()">Agregar al Carrito</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div>
      <div class="title text-center" style="padding-top: 50px;">
        <h2>¡Que podemos ofrecerte!</h2>
      </div>
      <div class="row d-flex align-items-center justify-content-center" style="padding-top: 20px">
        <div class="col-md-3" style="text-align: center">
          <i class="fas fa-truck-loading fa-lg" style="font-size: 50px; padding-bottom: 10px;"></i>
          <p style="font-size: 20px; font-weight: bold;">Envios Nacionales</p>
          <p style="text-align: justify;">En Camila Charry Designer, te ofrecemos envíos nacionales seguros y veloces en todo el país. Compra con confianza, sin importar en qué parte de Colombia te encuentres. Tu satisfacción es nuestra prioridad.</p>
        </div>
        <div class="col-md-3" style="text-align: center">
          <i class="fas fa-medal fa-lg" style="font-size: 50px; padding-bottom: 10px;"></i>
          <p style="font-size: 20px; font-weight: bold;">Calidad de productos</p>
          <p style="text-align: justify;">Desde la elección de los mejores materiales hasta un estricto control de calidad, nos esforzamos por superar tus expectativas. Confía en nosotros para ofrecerte calidad en cada detalle.</p>
        </div>
      </div>
    </div>

  </div>
</section>