<div class="container-fluid registration-page">
    <div class="background-images">
        <div class="background-image" style="background-image: url('../../../../assets/images/mq-fondo.jpg')"></div>
        <div class="background-image" style="background-image: url('../../../../assets/images/regis.jpg');"></div>
        <div class="background-image" style="background-image: url('../../../../assets/images/c-fondo.jpg');"></div>
    </div>
    <div class="return-button">
        <button class="btn btn-info btn-lg btn-block"
            style="background-color: #D8A762; border-color: #D8A762; color: #FFFFFF" (click)="regreso()"><i
                class="fas fa-arrow-left"></i></button>
    </div>
    <div class="registration-container row">
        <div class="col-md-12">
            <h2>Regístrate</h2>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                        <div class="row mb-3">
                            <div class="col-md form-group">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    placeholder="Ingresa tu nombre" formControlName="nombre">
                                <div class="text-danger" *ngIf="getErrorMessage('nombre')">{{
                                    getErrorMessage('nombre') }}</div>
                            </div>
                            <div class="col-md form-group">
                                <label for="apellido" class="form-label">Apellido:</label>
                                <input type="text" class="form-control" id="apellido" name="apellido"
                                    placeholder="Ingresa tu apellido" formControlName="apellido">
                                <div class="text-danger" *ngIf="getErrorMessage('apellido')">{{
                                    getErrorMessage('apellido') }}</div>
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-md form-group">
                                <label for="direccion" class="form-label">Dirección:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion"
                                    placeholder="Ingresa tu dirección" formControlName="direccion">
                                <div class="text-danger" *ngIf="getErrorMessage('direccion')">{{
                                    getErrorMessage('direccion') }}</div>
                            </div>
                            <div class="col-md form-group">
                                <label for="ciudad" class="form-label">Ciudad:</label>
                                <input type="text" class="form-control" id="ciudad" name="ciudad"
                                    placeholder="Ingresa tu ciudad" formControlName="ciudad">
                                <div class="text-danger" *ngIf="getErrorMessage('ciudad')">{{
                                    getErrorMessage('ciudad') }}</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md form-group">
                                <label for="email" class="form-label">Correo Electrónico:</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Ingresa tu correo electrónico" formControlName="email">
                                <div class="text-danger" *ngIf="getErrorMessage('email')">{{
                                    getErrorMessage('email') }}</div>
                            </div>
                            <div class="col-md form-group">
                                <label for="contraseña" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="contraseña" name="contraseña"
                                    placeholder="Ingresa tu contraseña" formControlName="contraseña">
                                <div class="text-danger" *ngIf="getErrorMessage('contraseña')">{{
                                    getErrorMessage('contraseña') }}</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-register">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>