.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Puedes ajustar el color de fondo según tus preferencias */
    padding: 10px;
    text-align: center;
  }