.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.d-flex {
  height: 100%;
  margin-left: 250px;
}

.custom-link {
    text-decoration: none !important;
    color: black !important;
    font-weight: bold !important;
}

/* Estilos para el contenedor del botón de retorno */
.return-button {
  position: absolute;
  top: 20px; /* Ajusta la separación desde la parte superior */
  left: 20px; /* Ajusta la separación desde la izquierda */
}

/* Estilos para el enlace de retorno */
.return-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* Estilos para el ícono de flecha izquierda */
.return-link i {
  margin-right: 8px; /* Ajusta la separación entre el ícono y el texto */
}

/* Estilos para el enlace de retorno al pasar el mouse */
.return-link:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .col-sm-6 img {
    object-position: center;
  }
}

@media (max-width: 1000px) {
  .col-md-6.px-0 {
    display: none;
  }

  .col-md-6.text-black {
    width: 100%;
  }

  .align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }

  .align-center form {
    width: 90%; /* Ajusta el ancho del formulario según tus necesidades */
  }

}
