<section id="collection" style="padding-top: 180px;padding-bottom: 50px; min-height: 80vh;">
  <div class="container">
    <form [formGroup]="prenda" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-md-8">
          <h2>{{ isEditMode ? 'Editar Prenda' : 'Registrar Prenda' }}</h2>
          <div class="form-group">
            <label for="idPrenda">Codigo de la prenda:</label>
            <input type="text" class="form-control" id="idPrenda" name="idPrenda" formControlName="id">
            <div *ngIf="prenda.controls['id'].invalid && prenda.controls['id'].touched" class="text-danger">
              Codigo de la prenda es requerido.
            </div>
          </div>
          <div class="form-group">
            <label for="nombrePrenda">Nombre de la prenda:</label>
            <input type="text" class="form-control" id="nombrePrenda" name="nombrePrenda" formControlName="nombre">
            <div *ngIf="prenda.controls['nombre'].invalid && prenda.controls['nombre'].touched" class="text-danger">
              Nombre de la prenda es requerido.
            </div>
          </div>
          <div class="form-group">
            <label for="precioPrenda">Precio:</label>
            <input type="number" class="form-control" id="precioPrenda" name="precioPrenda" formControlName="precio">
            <div *ngIf="prenda.controls['precio'].invalid && prenda.controls['precio'].touched" class="text-danger">
              Precio es requerido y debe ser mayor o igual a 0.
            </div>
          </div>
          <div class="form-group">
            <label for="descripcionPrenda">Descripción:</label>
            <textarea class="form-control" id="descripcionPrenda" name="descripcionPrenda"
              formControlName="descripcion"></textarea>
            <div *ngIf="prenda.controls['descripcion'].invalid && prenda.controls['descripcion'].touched"
              class="text-danger">
              Descripción es requerida.
            </div>
          </div>
          <div class="form-group">
            <label for="existenciasPrenda">Existencias:</label>
            <input type="number" class="form-control" id="existenciasPrenda" name="existenciasPrenda"
              formControlName="existencias">
            <div *ngIf="prenda.controls['existencias'].invalid && prenda.controls['existencias'].touched"
              class="text-danger">
              Necesitas registrar al menos una existencia.
            </div>
          </div>
          <mat-form-field class="example-chip-list">
            <mat-label>Colores</mat-label>
            <mat-chip-grid #chipGridColores aria-label="Ingrese Colores">
              <mat-chip-row *ngFor="let color of colores" (removed)="removeColores(color)" [editable]="true"
                (edited)="editColores(color, $event)" [aria-description]="'Presione enter para editar' + color">
                {{ color }}
                <button matChipRemove [attr.aria-label]="'Remover ' + color">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Nuevo Color..." [matChipInputFor]="chipGridColores"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addColores($event)" />
            </mat-chip-grid>
          </mat-form-field>

          <mat-form-field class="example-chip-list">
            <mat-label>Categorias</mat-label>
            <mat-chip-grid #chipGridCategorias aria-label="Ingrese Categorias">
              <mat-chip-row *ngFor="let categoria of categorias" (removed)="remove(categoria)" [editable]="true"
                (edited)="edit(categoria, $event)" [aria-description]="'Presione enter para editar' + categoria">
                {{ categoria }}
                <button matChipRemove [attr.aria-label]="'Remover ' + categoria">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Nueva Categoria..." [matChipInputFor]="chipGridCategorias"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" />
            </mat-chip-grid>
          </mat-form-field>

          <div class="col-md-8" *ngIf="isEditMode">
            <div class="mb-3">
              <label for="imagenPrenda" class="form-label">Imágenes de la prenda:</label>
              <div class="mb-3" *ngIf="imagenesAntiguas.length > 0">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Imagen</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let imagen of imagenesAntiguas; let i = index">
                      <td>
                        <img [src]="imagen" alt="Imagen seleccionada" width="100" class="img-thumbnail"
                          id="imagenPrendaPreview">
                      </td>
                      <td>
                        <button (click)="eliminarImagenE(i)" class="btn btn-danger">Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="mb-3">
              <label for="imagenPrenda" class="form-label">Anañdir Nuevas Imagenes:</label>
              <input type="file" class="form-control" id="imagenPrenda" name="imagenPrenda"
                (change)="onFileSelected($event)" required multiple>
              <div *ngIf="showAlert" class="text-danger">
                Por favor, selecciona al menos una imagen.
              </div>

            </div>
            <div class="mb-3">
              <div class="mb-3" *ngIf="imagenesPreview.length > 0">
                <label for="imagenSeleccionada" class="form-label">Imagen seleccionada:</label>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Imagen</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let imagen of imagenesPreview; let i = index">
                      <td>
                        <img [src]="imagen" alt="Imagen seleccionada" width="50" class="img-thumbnail"
                          id="imagenPrendaPreview">
                      </td>
                      <td>
                        <button (click)="eliminarImagen(i)" class="btn btn-danger">Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>



          <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Modificar Prenda' : 'Registrar Prenda'
            }}</button>
        </div>
      </div>
    </form>
  </div>

</section>