.nav-item {
  cursor: pointer;
}

.nav-link:hover {
  color: #caa565 !important;
}

.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  font-family: Lato;
}

.collapsing {
  transition: height 0.35s ease;
}

.collapsed {
  height: 0 !important;
  overflow: hidden;
  transition: height 0.35s ease;
}

/* Estilo predeterminado para el texto */
.bg-dark p {
    font-size: 16px; /* Tamaño predeterminado del texto */
    margin: 0; /* Eliminar el margen predeterminado de los párrafos */
  }
  
  /* Estilos específicos para pantallas más pequeñas (celulares) */
  @media (max-width: 767px) {
    .bg-dark p {
      font-size: 14px; /* Tamaño de texto reducido para pantallas más pequeñas */
    }
  }

  @media (max-width: 440px) {
    .bg-dark p {
      font-size: 10px; /* Tamaño de texto reducido para pantallas más pequeñas */
    }
  }

  @media (max-width: 324px) {
    .bg-dark p {
      font-size: 9px; /* Tamaño de texto reducido para pantallas más pequeñas */
    }
  }
