#UpData { height: 30px; 
font-family: Lato;
color: #fff;}

.Logo{
    width: 200px;
    height: 70px;
}


/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.texto-login{
    font-family: Lato
}

.nav-link:hover{
    color: #caa565!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.boton{
    background-color: none;
    border:none;
    background: none;
    transition: color 0.2s;
    margin: 5px;
}

.boton:hover{
    color: #caa565!important;
}

/* header */

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}

