@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    font-family: var(--sm-font);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content-container {
    margin-top: 125px;
  }


:root {
  --primary: #caa565;
  --accent: #e91e63;
  --warn: #ffc107;
  --background: #ffffff;
  --surface: #ffffff;
  --error: #dc3545;
  --info: #00bcd4;
  --success: #4caf50;
  --warning: #ffc107;
}
