<section id="collection" style="padding-bottom: 40px;">
    <div
        style="width: 100%; height: 100%; background: #F6F5FF; margin-bottom:50px; padding-bottom: 50px; padding-top: 50px;text-align: center;">
        <h1 class="titulo-detalle">Detalles de Producto</h1>
    </div>
    <div class="detalle-prenda">
        <div class="imagen-prenda">
            <img id="imagen" src="{{ prenda.imagen }}" alt="Prenda">
        </div>
        <div class="info-prenda">
            <h1 id="nombre-prenda">{{ prenda.nombre }}</h1>
            <div
                style="color: #5c5c5c; font-size: 16px; font-weight: 400; text-transform: capitalize; line-height: 29px; word-wrap: break-word">
                <p>${{ prenda.precio }}</p>
            </div>

            <div>
                <p style=" color: #5c5c5c; font-size: 16px; font-weight: 600; word-wrap: break-word">Color</p>
                <p>{{ prenda.colores }}</p>
            </div>

            <div>
                <p
                    style="width: 100%; color: #5c5c5c; font-size: 16px; font-weight: 600; line-height: 29px; word-wrap: break-word">
                    Descripcion</p>
                <p>{{ prenda.descripcion }}</p>
            </div>
            <div class="d-flex justify-content-start">
                <button class="btn-personalizar me-2" (click)="mostrarPersonalizacion = true">Personalizar</button>
                <button class="btn" (click)="addToCart(prenda);">Añadir a Carrito</button>
            </div>


            <div>
                <p style="color: #5c5c5c; font-size: 16px; font-weight: 600; line-height: 29px; word-wrap: break-word">
                    Categorias</p>
                <p>{{ prenda.categorias }}</p>
            </div>
        </div>
    </div>
</section>
<section id="collection" *ngIf="mostrarPersonalizacion" style="background-color: #F6F5FF;padding-bottom: 40px;">
    <div style="width: 100%; height: 100%; background: #F6F5FF; padding-top: 50px;text-align: center;">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="titulo-detalle">Personalización</h1>
                <button (click)="mostrarPersonalizacion = false" class="btn btn-secondary">
                    <i class="fas fa-times"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
    <div class="personalizacion-prenda">
        <!-- Comboboxes a la izquierda -->
        <div class="personalizacion" style="width: 100%;flex: 2;">
            <div style="width: 100%;">
                <p>Cuello</p>
                <select class="form-select mb-3"[(ngModel)]="cuelloSeleccionado">
                    <option selected>Ninguno</option>
                    <option>Cuello 1</option>
                    <option>Cuello 2</option>
                    <option>Cuello 3</option>
                </select>
            </div>
            <div>
                <p>Manga</p>
                <select class="form-select mb-3"[(ngModel)]="mangaSeleccionada">
                    <option selected>Ninguno</option>
                    <option>Manga 1</option>
                    <option>Manga 2</option>
                    <option>Manga 3</option>
                </select>
            </div>
            <div>
                <p>Estampado</p>
                <select class="form-select mb-3"[(ngModel)]="estampadoSeleccionado">
                    <option selected>Ninguno</option>
                    <option>Estampado 1</option>
                    <option>Estampado 2</option>
                    <option>Estampado 3</option>
                </select>
            </div>
        </div>

        <!-- Imagen en el centro -->
        <div class="imagen-personalizacion">
            <img src="{{prenda.imagen}}" alt="Prenda Personalizada">
        </div>


        <!-- Comboboxes a la derecha -->
        <div class="personalizacion" style="width: 100%;flex: 2;">
            <div style="width: 100%;">
                <p>Encaje</p>
                <select class="form-select mb-3"[(ngModel)]="encajeSeleccionado">
                    <option selected>Ninguno</option>
                    <option>Encaje 1</option>
                    <option>Encaje 2</option>
                    <option>Encaje 3</option>
                </select>
            </div>
            <div>
                <p>Botones</p>
                <select class="form-select mb-3"[(ngModel)]="botonSeleccionado">
                    <option selected>Ninguno</option>
                    <option>Boton 1</option>
                    <option>Boton 2</option>
                    <option>Boton 3</option>
                </select>
            </div>
            <div>
                <p>Doblez</p>
                <select class="form-select mb-3"[(ngModel)]="doblezSeleccionado">
                    <option selected>Ninguno</option>
                    <option>Doblez 1</option>
                    <option>Doblez 2</option>
                    <option>Doblez 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary" (click)="addToCart(prenda)">Añadir al carrito</button>
      </div>
</section>